* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; cursor: default;}

body {
    background-color: black;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: black;
    z-index: 100;
}

header .header-left h1 {
    color: red;
    font-weight: 900;
    text-transform: uppercase;
}

main {
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main .film-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.film {
    border: 2px solid white;
    color: white;
    margin: 15px 0;
    display: flex;
    position: relative;
}

.film span {
    font-weight: 600;
}

.film img {
    height: 100%;
    width: 100%;
}

.film .info {
    padding: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    display: none;
}

.film:hover .info  {
    display: block;
}
