* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;}

body {
    background-color: black;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

header .header-left h1 {
    color: red;
    font-weight: 900;
    text-transform: uppercase;
}

main {
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main .film-container {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.film {
    background-color: white;
    width: 220px;
    max-height: max-content;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
